body {
	background-color: #dddddd;
	font-family: 'Source Sans Pro', sans-serif;
}

#main {
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
	background-color: #ffffff;
}

#header {
	border-bottom: thick solid #000000;
}

#content {
}

.section {
	border-bottom: thin solid #000000;
}
