body {
	background-color: #F0F0F0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

body, .pure-g [class *= "pure-u"] {
	font-family: 'EB Garamond', sans-serif;
}

a, a:hover, a:visited {
	color: #E03A3E;
	text-decoration: none;
}

.panel {
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;
	padding: .5em 1.75%;
	background-color: #FFFFFF;
	box-shadow: .3em .3em .8em #dddddd;
	clear: right;
}

.panel-left {
	margin-left: 0em;
}

.panel-right {
	margin-right: 0em;
	float: right;
}

.dl-inline dt {
	float: left;
	clear: left;
	width: 5em;
	text-align: right;
	font-weight: bold;
}

.dl-inline dd {
	margin-left: 5.5em;
	padding-bottom: .5em;
}

.dl-about-panel dt {
	width: 20%;
}

.dl-about-panel dd {
	margin-left: 25%;
	padding-bottom: 0;
}

.dl-travel-panel dt {
	width: 25%;
}

.dl-travel-panel dd {
	margin-left: 30%;
	padding-bottom: .5em;
}

#header {
	background-color: #E03A3E;
	padding: 1em;
	color: #FFFFFF;
}

blockquote {
	margin-left: auto;
	margin-right: auto;
	padding: .2em .5em;
	background-color: #FFFFCC;
}

.section {
	border-bottom: thin solid #dddddd;
}

.section-note {
	font-size: 50%;
	font-style: italic;
	font-family: serif;
	padding-left: 10px;
}

.menu {
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
}

.menu-item {
	display: inline;
	padding: 10px;
}

a.menu-link:hover, a.menu-link {
	color: #FFFFFF;
	text-decoration: none;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1.5em;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
